
.n-header {
	height: $headerHeight;
	width: 100%;
	position:absolute;
}
.n-header__container {
	background:$themeBG;
}
.n-header__primary {
	height: $headerHeight;
	line-height: $headerHeight;
	position:relative;
	text-align:center;
	color:#FFFFFF;
}
.n-header__side {
	position: absolute;
	width: $sideButtonWidth;
	height: $headerHeight;
	line-height: $headerHeight;
	top: 0;
	background-position: center center;
	background-repeat: no-repeat;
}
.n-header__left {
	left: 0;
	
}
.n-header__right {
	right: 0; 
}
.n-header__menu {
	background-image: url(../images/ic_menu_24px.svg);
}
.n-header__setting {
	background-image: url(../images/ic_settings_24px.svg);
}
.n-header__back {
	background-image: url(../images/ic_chevron_left_24px.svg);
	background-position: left center;
	width: auto;
	padding-left: 24px;
	display:none;
}
.is-in-swift {
	.n-header {
		height: $headerHeight + $statusBarHeight;
	}
	.n-header__container {
		padding-top: $statusBarHeight;
	}
}
.n-in-course {
	.n-header__back {
		display: block;
	}
	.n-header__menu {
		display: none;
	}
}