
// nested style is not recommended as it bloats the output code

// the content full body
.n-content-container, .n-course-container, .n-page {
	width:100%;
	max-width: 1280px;
	position: absolute;
	margin: auto;
	top: $headerHeight;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	@include transition(all 0.5s ease-in-out);
	@include backface-visibility(hidden);
}
.n-content-scroller {
	width: 100%;
	height: 100%;
	.clearfloat {
		display: none;
	}
}
.n-content-container {
	@include transform(translate3d(0, 0, 0));
}


// in the course
.n-in-course {
	.n-content-container {
		@include transform(translate3d(-100%, 0, 0));
	}
	.n-course-container {
		@include transform(translate3d(0, 0, 0));
	}
}

.n-course-container {
	@include transform(translate3d(100%, 0, 0));
	.n-course-inner, .n-page-inner {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
	}
	.n-page {
		top: 0;
		display:none;
		padding-bottom: 2 * $padding + $buttonHeight; 
		overflow: hidden;
	}
	.n-page.n-page-on, .n-page.n-page-next, .n-page.n-page-prev {
		display:block;
	}
	.n-page.n-page-next {
		@include transform(translate3d(100%, 0, 0));
	}
	.n-page.n-page-prev {
		@include transform(translate3d(-100%, 0, 0));
	}
	.n-page-title {
		line-height: $defaultLineHeight;
		margin: 0;
		padding: 0 $padding;
	}
	h1.n-page-title {
		font-size: $h1FontSize;
	}
	h3.n-page-title {
		font-size: $h3FontSize;
	}
	.n-page-lead {
		padding: 0 $padding; 
		ul {
			padding-left: 1em;
		}
		.n-wrong-point {
			color: red;
		}
		.n-right-point {
			color: green;
		}
	}
	.n-page-point {
		display: none; 
	}
	span.good {
		color: green;
	}
	span.bad {
		color: red;
	}
	.n-home-course-inner {
		border-bottom-width: 0;
		background-color: transparent;
	}
	.n-option:first-child {
		border-width: 0;
	}
	.n-option {
		border-top: 1px solid $borderColor;
		padding: $padding $padding $padding $optionIconWidth + 2 * $padding;
		background-repeat: no-repeat;
		background-position: $padding center;
		background-image: url(../images/ic_radio_button_off_24px.svg);
		background-size: $optionIconWidth $optionIconWidth;
		cursor: pointer;
	}
	.n-option.selected {
		background-color: $selectedBG;
		color: white;
		background-image: url(../images/ic_radio_button_on_24px.svg);
	}
	.n-option.is-correct {
		background-color: $lighterThemeBG;
		color: white;
		background-image: url(../images/ic_radio_white_24px.svg);	
	}
	.n-option.selected.is-correct {
		background-color: $lighterThemeBG;
		background-size: 48px 48px;
		background-position: 0 center;
		background-image: url(../images/ic_check_24px.svg);	
	}
	.n-option.selected.is-wrong {
		background-color: red;
		background-size: 48px 48px;
		background-position: 0 center;
		background-image: url(../images/ic_close_24px.svg);	
	}
	.n-course-button-container {
		position: absolute;
		bottom: 0;
		height: 2 * $padding + $buttonHeight;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.n-course-button {
		font-size: 16px;
		color: white;
		background-color: $themeBG;
		min-width: 285px;
		max-width: 350px;
		width: 90%;
		height: $buttonHeight;
		margin-top: $padding; 
		border-color: transparent;
	}
	.n-course-button.disabled {
		opacity: 0.5;
		background-color: $disabledBG;
	}
}



// one course block
.n-home-course-container {
	position: relative;
}

.n-home-course-container:after {
	padding-top: $homeCoursePicRatio;
	display: block;
	content: '';
}

.n-home-course-inner {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	color: white;
	background-color: $placeHolderBG;
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: 100% auto;
	border-bottom: $gutterWidth solid $defaultBG;
}
.n-home-course-inner:after {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute; 
}
.n-home-course-green:after {
	@include background-image (linear-gradient(225deg, rgba(#002F4b, 0), rgba(#417711, 0.7)));
}
.n-home-course-title {
  	position: absolute;
  	left:0;
  	bottom:0;
  	font-size: 1.1em;
  	line-height: $defaultLineHeight;
  	padding: 0 14px 0 14px;
  	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  	color: #FFF;
  	z-index: 2;
}


.is-in-swift {
	.n-content-container {
		top: $headerHeight + $statusBarHeight;
	}
}

@media only screen and (min-width: 490px) and (max-width: 729px) {
	@import "grid-layout/s-brick.scss";
}

@media only screen and (min-width: 490px) {
	.n-home-course-container {
		float: left;
		width: 50%;
	}
	.n-home-course-inner {
		border: $gutterWidth solid $defaultBG;
	}
	.n-content-inner {
		padding: $gutterWidth;
	}
}


@media only screen and (min-width: 730px) and (max-width: 969px) {
	@import "grid-layout/m-verge.scss";
}

@media only screen and (min-width: 730px) {
	.n-home-course-container {
		width: 33.33333333%;
	}
}

@media only screen and (min-width: 970px) {
	@import "grid-layout/l-verge.scss";
}

@media only screen and (min-width: 1210px) {
	.n-home-course-container {
		
	}
}