// colors
$defaultBG: #FAFAFA;
$defaultColor: #333333;
$themeBG: #16a085;
$placeHolderBG: #95a5a6;
$lighterThemeBG: #2ecc71;

// width, height and padding
$headerHeight: 44px;
$statusBarHeight: 20px;
$buttonHeight: 36px; 
$sideButtonWidth: 52px;
$gutterWidth: 5px;
$padding: 14px;

// Percentages
$defaultLineHeight: 168.1%;
$homeCoursePicRatio: percentage(9/16);

// Font Sizes
$h1FontSize: 1.618em; 